RTCP reports don't work with chrome

When RTCP receiver reports are enabled in WebRTC, chrome starts sending tons of some RTCP packets (sender reports?). A possible reason is that we don't confirm these RTCP packets from chrome properly (with our receiver reports, meaning the receiver reports are invalid?) and chrome retransmits them.

This was not tested with other browsers.

# Current state

To get a better picture of the problem, I've made a couple of tests for Google Chrome with receiver reports disabled or enabled with intervals of 1, 5, 10s, checking number of sender reports from the browser after 1..5 and 10 minutes (videoroom demo, 1 participant):

<details>
  <summary>Results</summary>

  After 1 minute
  | RR Interval | SR count (video) | SR count (audio) | avg SR interval (video) [s] | avg SR interval (audio) [s] |
  | :---: | :---: | :---: | :---: | :---: |
  | disabled | 60 | 12 | 1.00 | 5.00 |
  | 10s | 115 | 13 | 0.52 | 4.61 |
  | 5s | 180 | 13 | 0.33 | 4.61 |
  | 1s | 210 | 12 | 0.29 | 5 |
  
  After 2 minutes
  | RR Interval | SR count (video) | SR count (audio) | avg SR interval (video) [s] | avg SR interval (audio) [s] |
  | :---: | :---: | :---: | :---: | :---: |
  | disabled | 120 | 24 | 1 | 5 |
  | 10s  | 410 | 25 | 0.29 | 4.8 |
  | 5s  | 460 | 24 | 0.26 | 5 |
  | 1s  | 500 | 24 | 0.24 | 5 |
   
  After 3 minutes
  | RR Interval | SR count (video) | SR count (audio) | avg SR interval (video) [s] | avg SR interval (audio) [s] |
  | :---: | :---: | :---: | :---: | :---: |
  | disabled | 180 | 37 | 1.00 | 4.86 |
  | 10s  | 695 | 38 | 0.26 | 4.74 |
  | 5s  | 745 | 37 | 0.24 | 4.86 |
  | 1s  | 790 | 38 | 0.23 | 4.74 |
    
  After 4 minutes
  | RR Interval | SR count (video) | SR count (audio) | avg SR interval (video) [s] | avg SR interval (audio) [s] |
  | :---: | :---: | :---: | :---: | :---: |
  | disabled | 240 | 48 | 1.00 | 5.00 |
  | 10s  | 985 | 51 | 0.24 | 4.71 |
  | 5s  | 1040 | 52 | 0.23 | 4.62 |
  | 1s  | 1080 | 49 | 0.22 | 4.90 |
    
  After 5 minutes
  | RR Interval | SR count (video) | SR count (audio) | avg SR interval (video) [s] | avg SR interval (audio) [s] |
  | :---: | :---: | :---: | :---: | :---: |
  | disabled | 295 | 61 | 1.02 | 4.92 |
  | 10s  | 1260 | 60 | 0.24 | 5.00 |
  | 5s  | 1335 | 63 | 0.22 | 4.76 |
  | 1s  | 1370 | 61 | 0.22 | 4.92 |
    
  After 10 minutes
  | RR Interval | SR count (video) | SR count (audio) | avg SR interval (video) [s] | avg SR interval (audio) [s] |
  | :---: | :---: | :---: | :---: | :---: |
  | disabled | 605 | 115 | 0.99 | 5.22 |
  | 10s  | 2450 | 124 | 0.24 | 4.84 |
  | 5s  | 2610 | 128 | 0.23 | 4.69 |
  | 1s  | 2725 | 121 | 0.22 | 4.96 |
    
</details>

To sum up:
- for a video track, we receive 1 SR per second if receiver reports are disabled, otherwise it this value seems to converge to about 4.5 SR per second;
- for an audio track, we always receive a SR every ~5 seconds.

It seems like the interval between consequent receiver reports we choose doesn't matter that much, it can only speed up the convergence to aforementioned ~4.5 SR per second for video tracks.

Joining the videoroom from Firefox gave similar results (probably because both Chromium and FF use `libwebrtc` under the hood).

# Debugging

Receiver reports on our side look fine, so do sender reports that we receive (there is no retransmission). Also, I haven't found any warnings in Chrome debug logs that could indicate a clear problem with validity of receiver reports we send. Having checked these three things, I moved on to see what's happening in WebRTC implementation.

From what I've learned analysing the source code, the intervals between consequent sender reports depend on the type of media and session bandwidth:

- for audio, `5`s
- for video, `min(1, 360 / session_bandwidth_kbps)`s

Then, the interval is being multiplied by some random number and divided by a constant, if you are interested in more details refer to the [description in the source code](https://chromium.googlesource.com/external/webrtc/+/a49f1105eb7d5169588ac2876bf59fba2dd06125/webrtc/modules/rtp_rtcp/source/rtcp_sender.cc#355) and [section 6.3.1 of RFC 3550](https://datatracker.ietf.org/doc/html/rfc3550#section-6.3.1).

The main takeaway from this is that the main factor for calculating SR interval in case of video is the bandwidth. After analysing debug logs of Chrome, I found out that the bandwidth reported by [the congestion control module](https://source.chromium.org/chromium/_/webrtc/src.git/+/7145a1421bd05e76db8e01b96cd91203e2fe211c:modules/congestion_controller/goog_cc/goog_cc_network_control.cc) is:
- constant, =`300`kbps when receiver reports are disabled
- growing from `300`kbps up to `1`Gbps otherwise

# Conclusion

It's almost certain that browsers use incoming receiver reports to estimate the bandwidth. Because we set up videoroom locally and the bandwidth on a loopback interface is huge, browsers want to use it efficiently and increase the number of RTCP packets being sent.
For some reason the browser can't calculate the bandwidth when there are no incoming receiver reports. In this situation it is assumed to be 300kpbs, giving the `SR_interval = min(1, 360 / session_bandwidth_kbps) = min(1, 360/300) = 1`s.

Looking at the results from the first paragraph it seems to make sense. Feel free to comment if I missed something 😃 